<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Settings</name>
    <sid>736073767355467</sid>
    <event-sheet>settings-sheet</event-sheet>
    <size>
        <width>1280</width>
        <height>720</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="BG" sid="646182453740844">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="bg" uid="36">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>0</y>
                        <z>0</z>
                        <width>1280</width>
                        <height>720</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="border" uid="85">
                    <properties>
                        <left-margin>15</left-margin>
                        <right-margin>15</right-margin>
                        <top-margin>15</top-margin>
                        <bottom-margin>15</bottom-margin>
                        <edges>Tile</edges>
                        <fill>Tile</fill>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                        <seams>Overlap</seams>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Pin" />
                    </behavior-instances>
                    <effect-instances>
                        <effect-instance type="Outline">
                            <parameters>
                                <blue>0</blue>
                                <green>0</green>
                                <just-outline>0</just-outline>
                                <red>0</red>
                                <width>2</width>
                            </parameters>
                        </effect-instance>
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>48</x>
                        <y>48</y>
                        <z>0</z>
                        <width>1168</width>
                        <height>128</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="border" uid="37">
                    <properties>
                        <left-margin>15</left-margin>
                        <right-margin>15</right-margin>
                        <top-margin>15</top-margin>
                        <bottom-margin>15</bottom-margin>
                        <edges>Tile</edges>
                        <fill>Tile</fill>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                        <seams>Overlap</seams>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Pin" />
                    </behavior-instances>
                    <effect-instances>
                        <effect-instance type="Outline">
                            <parameters>
                                <blue>0</blue>
                                <green>0</green>
                                <just-outline>0</just-outline>
                                <red>0</red>
                                <width>2</width>
                            </parameters>
                        </effect-instance>
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>48</x>
                        <y>160</y>
                        <z>0</z>
                        <width>480</width>
                        <height>512</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="border" uid="83">
                    <properties>
                        <left-margin>15</left-margin>
                        <right-margin>15</right-margin>
                        <top-margin>15</top-margin>
                        <bottom-margin>15</bottom-margin>
                        <edges>Tile</edges>
                        <fill>Tile</fill>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                        <seams>Overlap</seams>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Pin" />
                    </behavior-instances>
                    <effect-instances>
                        <effect-instance type="Outline">
                            <parameters>
                                <blue>0</blue>
                                <green>0</green>
                                <just-outline>0</just-outline>
                                <red>0</red>
                                <width>2</width>
                            </parameters>
                        </effect-instance>
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>48</x>
                        <y>160</y>
                        <z>0</z>
                        <width>1168</width>
                        <height>512</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="MTeams" sid="154521147291199">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="btnAddTeam" uid="38">
                    <properties>
                        <type>Button</type>
                        <text>Dodaj tim</text>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                        <checked>No</checked>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Persist" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>560</x>
                        <y>560</y>
                        <z>0</z>
                        <width>128</width>
                        <height>24</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="btnRemTeam" uid="39">
                    <properties>
                        <type>Button</type>
                        <text>Obriši tim</text>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                        <checked>No</checked>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Persist" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>560</x>
                        <y>592</y>
                        <z>0</z>
                        <width>128</width>
                        <height>24</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="btnReset" uid="40">
                    <properties>
                        <type>Button</type>
                        <text>RESET</text>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                        <checked>No</checked>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Persist" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>848</x>
                        <y>560</y>
                        <z>0</z>
                        <width>128</width>
                        <height>56</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="inputTeam" uid="45">
                    <properties>
                        <text></text>
                        <placeholder>Unesi ime tima broj 1</placeholder>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <read-only>No</read-only>
                        <spell-check>No</spell-check>
                        <type>Text</type>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                    </properties>
                    <instance-variables>
                        <id>0</id>
                        <oldY>208</oldY>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>96</x>
                        <y>208</y>
                        <z>0</z>
                        <width>150</width>
                        <height>22</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="Text" uid="46">
                    <properties>
                        <text>PODEŠAVANJA KVIZA</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-64,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Persist" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>80</x>
                        <y>80</y>
                        <z>0</z>
                        <width>720</width>
                        <height>96</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="btnExit" uid="47">
                    <properties>
                        <type>Button</type>
                        <text>NAZAD</text>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                        <checked>No</checked>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Persist" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>992</x>
                        <y>560</y>
                        <z>0</z>
                        <width>128</width>
                        <height>56</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="txtHelp" uid="41">
                    <properties>
                        <text>Pomoć:</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-16,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Persist" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>560</x>
                        <y>448</y>
                        <z>0</z>
                        <width>608</width>
                        <height>112</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="inputQtime" uid="24">
                    <properties>
                        <text>30</text>
                        <placeholder></placeholder>
                        <tooltip>Koliko sekundi će trenutno pitanje biti prikazano na ekranu</tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <read-only>No</read-only>
                        <spell-check>No</spell-check>
                        <type>Number</type>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                    </properties>
                    <instance-variables>
                        <oldY>208</oldY>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>704</x>
                        <y>208</y>
                        <z>0</z>
                        <width>48</width>
                        <height>22</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="Text" uid="25">
                    <properties>
                        <text>Trajanje pitanja:</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-19,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Persist" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>560</x>
                        <y>208</y>
                        <z>0</z>
                        <width>144</width>
                        <height>32</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Text" uid="26">
                    <properties>
                        <text>Trajanje pauze:</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-19,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Persist" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>560</x>
                        <y>240</y>
                        <z>0</z>
                        <width>144</width>
                        <height>32</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="inputPtime" uid="27">
                    <properties>
                        <text>5</text>
                        <placeholder></placeholder>
                        <tooltip>Koliko sekundi traje pauza između dva pitanja</tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <read-only>No</read-only>
                        <spell-check>No</spell-check>
                        <type>Number</type>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                    </properties>
                    <instance-variables>
                        <oldY>240</oldY>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>704</x>
                        <y>240</y>
                        <z>0</z>
                        <width>48</width>
                        <height>22</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="btnCheck" uid="67">
                    <properties>
                        <type>Checkbox</type>
                        <text>Ignoriši nepravilno formatiran fajl sa pitanjima</text>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <auto-font-size>No</auto-font-size>
                        <id-optional></id-optional>
                        <checked>No</checked>
                    </properties>
                    <instance-variables>
                        <oldY>352</oldY>
                        <enabled>true</enabled>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Persist" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>560</x>
                        <y>352</y>
                        <z>0</z>
                        <width>608</width>
                        <height>32</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="btnMute" uid="73">
                    <properties>
                        <type>Checkbox</type>
                        <text>Zvučni efekti</text>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <auto-font-size>No</auto-font-size>
                        <id-optional></id-optional>
                        <checked>Yes</checked>
                    </properties>
                    <instance-variables>
                        <oldY>288</oldY>
                        <enabled>true</enabled>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Persist" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>560</x>
                        <y>288</y>
                        <z>0</z>
                        <width>304</width>
                        <height>32</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="Text" uid="74">
                    <properties>
                        <text>Timeout za odgovor:</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-19,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Persist" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>864</x>
                        <y>240</y>
                        <z>0</z>
                        <width>208</width>
                        <height>32</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="inputAtime" uid="75">
                    <properties>
                        <text>15</text>
                        <placeholder></placeholder>
                        <tooltip>Nakon završetka runde, posle koliko sekundi da se tačni odgovori prikažu na ekranu</tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <read-only>No</read-only>
                        <spell-check>No</spell-check>
                        <type>Number</type>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                    </properties>
                    <instance-variables>
                        <oldY>240</oldY>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>1040</x>
                        <y>240</y>
                        <z>0</z>
                        <width>48</width>
                        <height>22</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="btnLoad" uid="82">
                    <properties>
                        <type>Button</type>
                        <text>UČITAJ PITANJA</text>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                        <checked>No</checked>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Persist" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>704</x>
                        <y>560</y>
                        <z>0</z>
                        <width>128</width>
                        <height>56</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="Text" uid="93">
                    <properties>
                        <text>Trajanje sponzora:</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-19,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Persist" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>864</x>
                        <y>208</y>
                        <z>0</z>
                        <width>176</width>
                        <height>32</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="inputStime" uid="94">
                    <properties>
                        <text>30</text>
                        <placeholder></placeholder>
                        <tooltip>Koliko dugo će ekran sa sponzorima da stoji na ekranu</tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <read-only>No</read-only>
                        <spell-check>No</spell-check>
                        <type>Number</type>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                    </properties>
                    <instance-variables>
                        <oldY>208</oldY>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>1040</x>
                        <y>208</y>
                        <z>0</z>
                        <width>48</width>
                        <height>22</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="txtVer" uid="97">
                    <properties>
                        <text>ver</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-19,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Persist" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>16</x>
                        <y>688</y>
                        <z>0</z>
                        <width>176</width>
                        <height>32</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="btnSnow" uid="129">
                    <properties>
                        <type>Checkbox</type>
                        <text>Sneg</text>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <auto-font-size>No</auto-font-size>
                        <id-optional></id-optional>
                        <checked>No</checked>
                    </properties>
                    <instance-variables>
                        <oldY>320</oldY>
                        <enabled>true</enabled>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Persist" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>560</x>
                        <y>320</y>
                        <z>0</z>
                        <width>304</width>
                        <height>32</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances>
        <instance type="SponsorArray" uid="90">
            <properties>
                <width>6</width>
                <height>4</height>
                <depth>1</depth>
            </properties>
        </instance>
    </nonworld-instances>
    <effects />
</c2layout>
