<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Settings</name>
    <sid>736073767355467</sid>
    <event-sheet>settings-sheet</event-sheet>
    <size>
        <width>1280</width>
        <height>720</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="BG" sid="646182453740844">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="bg" uid="36">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>0</y>
                        <z>0</z>
                        <width>1280</width>
                        <height>720</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite" uid="37">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>288</x>
                        <y>352</y>
                        <z>0</z>
                        <width>496</width>
                        <height>416</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="MTeams" sid="154521147291199">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="btnAddTeam" uid="38">
                    <properties>
                        <type>Button</type>
                        <text>Dodaj tim</text>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                        <checked>No</checked>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Persist" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>592</x>
                        <y>144</y>
                        <z>0</z>
                        <width>128</width>
                        <height>24</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="btnRemTeam" uid="39">
                    <properties>
                        <type>Button</type>
                        <text>Obriši tim</text>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                        <checked>No</checked>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Persist" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>592</x>
                        <y>192</y>
                        <z>0</z>
                        <width>128</width>
                        <height>24</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="btnSave" uid="40">
                    <properties>
                        <type>Button</type>
                        <text>SNIMI IZMENE</text>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                        <checked>No</checked>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Persist" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>736</x>
                        <y>144</y>
                        <z>0</z>
                        <width>128</width>
                        <height>72</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="inputTeam" uid="45">
                    <properties>
                        <text></text>
                        <placeholder>Unesi ime tima broj 1</placeholder>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <read-only>No</read-only>
                        <spell-check>No</spell-check>
                        <type>Text</type>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                    </properties>
                    <instance-variables>
                        <id>0</id>
                        <oldY>176</oldY>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>96</x>
                        <y>176</y>
                        <z>0</z>
                        <width>150</width>
                        <height>22</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="Text" uid="46">
                    <properties>
                        <text>PODEŠAVANJA KVIZA</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-64,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Persist" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>40</x>
                        <y>48</y>
                        <z>0</z>
                        <width>720</width>
                        <height>96</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="btnExit" uid="47">
                    <properties>
                        <type>Button</type>
                        <text>IZAĐI</text>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                        <checked>No</checked>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Persist" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>592</x>
                        <y>240</y>
                        <z>0</z>
                        <width>272</width>
                        <height>24</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="txtHelp" uid="41">
                    <properties>
                        <text>Pomoć:</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-16,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Persist" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>592</x>
                        <y>480</y>
                        <z>0</z>
                        <width>592</width>
                        <height>96</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="inputQtime" uid="24">
                    <properties>
                        <text>30</text>
                        <placeholder></placeholder>
                        <tooltip>Koliko sekundi će trenutno pitanje biti prikazano na ekranu</tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <read-only>No</read-only>
                        <spell-check>No</spell-check>
                        <type>Number</type>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                    </properties>
                    <instance-variables>
                        <oldY>320</oldY>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>736</x>
                        <y>320</y>
                        <z>0</z>
                        <width>48</width>
                        <height>22</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="Text" uid="25">
                    <properties>
                        <text>Trajanje pitanja:</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-19,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Persist" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>592</x>
                        <y>322</y>
                        <z>0</z>
                        <width>144</width>
                        <height>32</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Text" uid="26">
                    <properties>
                        <text>Trajanje pauze:</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-19,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Persist" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>592</x>
                        <y>370</y>
                        <z>0</z>
                        <width>144</width>
                        <height>32</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="inputPtime" uid="27">
                    <properties>
                        <text>5</text>
                        <placeholder></placeholder>
                        <tooltip>Koliko sekundi traje pauza između dva pitanja</tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <read-only>No</read-only>
                        <spell-check>No</spell-check>
                        <type>Number</type>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                    </properties>
                    <instance-variables>
                        <oldY>368</oldY>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>736</x>
                        <y>368</y>
                        <z>0</z>
                        <width>48</width>
                        <height>22</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="btnCheck" uid="67">
                    <properties>
                        <type>Checkbox</type>
                        <text>Ignoriši nepravilno formatiran fajl sa pitanjima</text>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                        <checked>No</checked>
                    </properties>
                    <instance-variables>
                        <oldY>416</oldY>
                        <enabled>true</enabled>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Persist" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>592</x>
                        <y>416</y>
                        <z>0</z>
                        <width>592</width>
                        <height>32</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
